@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "main";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/neue-haas-unica/NeueHaasUnica-Medium.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "main";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/src/assets/fonts/neue-haas-unica/NeueHaasUnica-Bold.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "roboto-mono";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/src/assets/fonts/roboto-mono/RobotoMono-Regular.ttf")
      format("truetype");
  }

  @font-face {
    font-family: "roboto-mono";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/src/assets/fonts/roboto-mono/RobotoMono-Medium.ttf")
      format("truetype");
  }

  html {
    font-family: "main", system-ui, sans-serif;
    font-weight: 400;
  }
}
